[mysqld]
ndbcluster
log-error=/var/log/mysqld.log
max_connections={{ cnf_max_connections }}
performance_schema={{ cnf_performance_schema }}

[mysql_cluster]
ndb-connectstring={{ groups['mysql_cluster_mgm'] | join(",") }}
log-error=/var/log/mysqld.log
