[mysql-cluster-{{ mysql_version }}-community]
name=MySQL {{ mysql_version }} Community Server
baseurl=http://repo.mysql.com/yum/mysql-cluster-{{ mysql_version }}-community/el/7/$basearch/
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-mysql
