[mysqld]
ndbcluster
max_connections={{ cnf_max_connections }}
performance_schema={{ cnf_performance_schema }}
log-error=/var/log/mysqld.log

[mysql_cluster]
ndb-connectstring={{ groups['ndb_cluster_mgm'] | join(",") }}

{% for host in groups["ndb_cluster_mgm"] %} 
[ndb_mgmd]
hostname={{ host }}
datadir=/var/lib/mysql-cluster
{% endfor %}
